**/Binaries/
**/DerivedDataCache/
**/Intermediate/
**/Saved/
**/.vs/
**/.vscode/
*.VC.db
*.ipch
*.pch
*.pdb
*.log
*.tmp
*.suo
*.user
*.opensdf
*.sdf

!**/Config/
!**/Content/
!**/Source/
!*.uproject

# Ignore VS solution + VS config
UE5_NPC_AudioAgent/*.sln
UE5_NPC_AudioAgent/.vsconfig

